# Python Collections (Built_in)
### There are four collection data types in the Python programming language:

#### 1. **List** is a collection which is ordered and changeable. Allows duplicate members.
#### 2. **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
#### 3. **Set** is a collection which is unordered, unchangeable and no duplicate members.
#### 4. **Dictionary** is a collection which is changeable and no duplicate members.

---

#### 1. **List** [ ]:
    Introducing
  - Two functions
  - Indexing and slicing and
  - A number of methods

- Two List Functions:
  
  - [x] Note: A list can contain different data types like strings, integers, float, boolean values ...

```
list1 = ["abc", 34, True, 4.2, [1, 2.3, False]]
```

1. **type** ( ): Data type of a list

   print(type (list1)) ----> <class 'list'>

 2. **len** ( ): How many items a list has, use the  length

      print(len (list1)) ----> 5

---

 - **indexing** [ ] : Access list items
  
 - [x] Note 1: The first item has index 0 and the last item has index (len - 1)
           
          print(list1 [2]) ----> True

  - [x] Note 2: Negative indexing means start from the end

           print(list1 [-2]) ----> 4.2

---

- **slicing** [ : ] : Access a piece of the list

- [x] Note 1: start at the first item to the end of the list

         print(list1 [ : ]) ---->  ["abc", 34, True, 4.2, [1, 2.3, False]]

- [x] Note 2: start at the first item and end at index **3** (**not included**)

          print(list1 [ :3]) ---->  ["abc", 34, True]

- [x] Note 3: start at the index **2** (**included**) and end of the list

          print(list1 [2: ]) ---->  [True, 4.2, [1, 2.3, False]]

- [x] Note 4: start at the index **1** (**included**) and end at index **4** (**not included**)     

         print(list1 [1:4]) ----> [34, True, 4.2]

- [x] Note 5: slicing [ : :step] --> start at the first item to the end of the list with the step

         print(list1 [ : :2]) ---->  ["abc", True, [1, 2.3, False]]

---

- A number of methods

```
l1 = ["abc", 34, True]
```

1. **append** ( ): Adds **an element** at the end of the list
   
       l1.append ("Elham")
   
       print(l1) ----> ["abc", 34, True, "Elham"]

2. **extend** ( ): Add the elements of a **list**  to the end of the list
 ```
 l2 = [3, 4.2]
```
    l1.extend (l2)
```
 print(l1) ----> ["abc", 34, True, "Elham", 3, 4.2]
```

3. **index** ( ): Returns the index of the first element with the specified value
```
 l1.index ("Elham")

 print(l1) ----> 3
 ```

4. **insert** ( ): Adds an element at the specified position

- [x] Note: insert (position, element)

```
l1.insert (2, 3)

print(l1) ---> ["abc", 34, *3, True, "Elham", 3, 4.2]
```

5. **pop** ( ): Removes the element at **the end** of the list
```
l1.pop ( )

print(l1) ----> ["abc", 34, 3, True, "Elham", 3] remove: (4.2)
```

6. **remove** ( ): Removes the item with the specified value

```
l1.remove (True)

print(l1) ----> ["abc", 34, 3, "Elham", 3] 
```

7. **clear** ( ): Removes **all the elements** from the list
```
l1.clear ( )

print(l1) ----> [   ]
```

---
---

2. **tuple** ( ):

   - [x] Note: A tuple can contain different data types like strings, , list, float, boolean values ...

        tuple1 = ("Elham", 34, True, 4.2, [1, 2.3, False], (4, 6))

- [ ] function: **type** ( ): Data type of a tuple

   print(type (tuple1)) ----> <class 'tuple'>

---

- [x] Important Note 1:

       1. Tuple indexing and slicing are similar to list indexing and slicing. (Refer to the list section above.)
      
       2. A slicing tuple is itself a tuple.

- [ ] An example of tuple slicing:
```
  print (tuple1 [ : : -1]) --->  ((4, 6), [1, 2.3, False], 4.2, True, 34, "Elham")
```
    - Note: -1, causes tuple values to be reversed.

---

- [x] Important Note 2: Once a tuple is created, you **cannot change** its values.
 But, **you can convert the tuple into a list, change the list, and convert the list back into a tuple**.

- [ ] Example:
      
```
 tuple1 = ("Elham", 34, True, 4.2, [1, 2.3, False], (4, 6))

 l = list (tuple1)  ## ["Elham", 34, True, 4.2, [1, 2.3, False], (4, 6)]

 l.append (4)

 t = tuple (l)

 print ("New tuple:", t) ---> New tuple: ("Elham", 34, True, 4.2, [1, 2.3, False], (4, 6), *4) 
```

---

- [x] Note: To **join** two or more tuples you can use **the  +  operator**:
```
  tuple2 = ("Mofidi", 3.3)

  tuple3 = (True, [1, 2])

  print("join tuples:", tuple2 + tuple3) --->  join tuples: ("Mofidi", 3.3, True, [1, 2])
```

---

- [x] Note: Using Asterisk *

  If the number of variables is less than the number of values, you can **add an * to the variable name**
  and 
  the values will be assigned to the variable **as a list** :

- [ ] Example:

``` 
1. (x, y, *z) = (1, 2, True, "a", 3)

    print('x:', x)    x: 1

    print('y:', y)    y: 2

    print('z:', z)    z: [True, "a", 3]

2. (x, *y, z) = (1, 2, True, "a", 3)

    print('x:', x)    x: 1

    print('y:', y)    y: [2, True, "a"]

    print('z:', z)    z:  3

3. (*x, y, z) = (1, 2, True, "a", 3) 


    print('x:', x)    x: [1, 2, True]

    print('y:', y)    y: "a"

    print('z:', z)    z:  3
```

---
---

3. **Set** { }:

- Most of the time, set is used to store numbers in a variable and do math.
- A set do not have duplicate members.
- A sets are always sorted.
- A set can contain different data types, but in this section, we use a set to store numbers.

       set1 = { 1, 2, 3}

       set2 = {3, 5, 7}

- [x] function: type ( ): Data type of a set

      print(type (set1)) ----> <class 'set'>

---

- A number of methods

1. **add** ( ): Adds an element to the set

   set1.add (6)

   print(set1) --->  { 1, 2, 3, 6}

2. **update** ( ): Update the set with the union of this set and others

   set1.update (set2)

   print(set1) --->  { 1, 2, 3, 5, 6, 7}

3. **remove** ( ): Removes the **specified element**

   set1.remove (6)

   print(set1) --->  { 1, 2, 3, 5, 7}

4. **pop** ( ):	 	Removes a **first element** from the set

   set1.pop ( )

   print(set1) --->  {2, 3, 5, 7}

5. **clear** ( ): Removes **all the elements** from the set

   set1.clear ( )

   print(set1) --->  set( )

- [ ] 

      s3 = {1, 2, 3}

      s4 = {3, 5, 7}

6. **union** ( ): Return a set containing the union of sets

   s5 = s3.union (s4)

   print(s5) ---> {1, 2, 3, 5, 7}

- Note1: Using Bar | : We can use | instead of union method

   print(s3 | s4) ---> {1, 2, 3, 5, 7}

7. **intersection** ( ): Returns a set, that is the intersection of two other sets

   s6 = s3.intersection (s4)

   print(s6) ---> {3}

- Note2: Using Ampersent & : Use & instead of intersection method

   print(s3 & s4) ---> {3}  

8. **difference** ( ): Returns a set containing the difference between two or more sets

   s7 = s3.difference (s4)

   print(s7) ---> {1, 2}

- Note3: Using minus - : Use - instead of difference method

   print (s3 - s4) ---> {1, 2}

---
---

4. **Dictionary** { }: